html,
body {
    height: 100% !important;
    margin: 0 !important;
}

.split {
    display: flex;
    flex-direction: row;
}

.gutter {
    @apply bg-transparent;
}

.gutter.gutter-horizontal {
    cursor: col-resize;
}

.gutter.gutter-vertical {
    cursor: row-resize;
}

.gutter.gutter-horizontal:active,
.gutter.gutter-vertical:active {
    @apply bg-primary;
}

.terminal-success {
    @apply text-success;
}

.terminal-error {
    @apply text-destructive;
}

.terminal-warning {
    @apply text-warning;
}

.terminal-info {
    @apply text-info;
}


/* Update scrollbar for dark theme */
#editor ::-webkit-scrollbar {
    width: 8px;
}

#editor ::-webkit-scrollbar-track {
    border-radius: 10px;
}

#editor ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 1px;
}

#editor ::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}

html.dark ::-webkit-scrollbar-thumb {
    background: #555;
}

html.dark  ::-webkit-scrollbar-thumb:hover {
    background: #666;
}