@tailwind base;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.terminal-success {
    @apply text-success;
}

.terminal-error {
    @apply text-destructive;
}

.terminal-warning {
    @apply text-warning;
}

.terminal-info {
    @apply text-info;
}


/* Update scrollbar for dark theme */
#kod-editor ::-webkit-scrollbar {
    width: 8px;
}

#kod-editor ::-webkit-scrollbar-track {
    border-radius: 10px;
}

#kod-editor ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 1px;
}

#kod-editor ::-webkit-scrollbar-thumb:hover {
    background: #ddd;
}

html.dark ::-webkit-scrollbar-thumb {
    background: #555;
}

html.dark ::-webkit-scrollbar-thumb:hover {
    background: #666;
}

@layer base {
    .dark :has(#k-editor) {
        --background: 210 24% 15%;
        --foreground: 208 8% 70%;
        --muted: 210 24% 20%;
        --muted-foreground: 210 9% 60%;
        --popover: 210 24% 15%;
        --popover-foreground: 208 8% 70%;
        --card: 210 24% 15%;
        --card-foreground: 208 8% 70%;
        --border: 220 5% 22%;
        --input: 209 17% 45%;
        --switch: 210 40% 40%;
        --primary: 23 86% 47%;
        --primary-foreground: 209 41% 90%;
        --secondary: 209 40% 25%;
        --secondary-foreground: 220 25% 30%;
        --accent: 209 40% 25%;
        --accent-foreground: 220 21% 76%;
        --destructive: 0 76% 50%;
        --destructive-foreground: 209 41% 90%;
        --success: 120 45% 40%;
        --success-foreground: 209 41% 90%;
        --warning: 40 100% 60%;
        --warning-foreground: 208 8% 70%;
        --info: 210 55% 45%;
        --info-foreground: 208 8% 70%;
        --editor-background: 205 23% 16%;
        --ring: 215 20% 60%;
    }
}